<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Navigation -->
    <!--<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand page-scroll" href="#page-top">-->
                    <!--Page Name-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="navbar-right navbar-main-collapse">-->
                <!--<div class="navbar-header">-->
                <!--<a>minikie@naver.com</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</nav>-->

    <section class="text-center">
        <form id="positionInfo" >
          <div class="form-group">
            <label for="positionInfoInputNotional">Notional Amount</label>
            <input type="number" v-model="notional" min="0" placeholder="Notional" class="form-control" id="positionInfoInputNotional" >
            <label for="positionInfoInputEffectiveDate">Effective Date</label>
            <input type="date" v-model="effective_date" min="1950-01-01" placeholder="Effective Date" class="form-control" id="positionInfoInputEffectiveDate" >
          </div>
        </form>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button id="addbtn" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="addbtn_Click()" >Add</button>
                <button id="editbtn" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="editbtn_Click()" >Edit</button>
             </div>
        </div>

    </section>
    <hr>
    <section class="text-center">
        <div id="positionList">
            <ul>
              <li v-for="position in position_list">[[ position.notional ]]</li>
            </ul>
        </div>
    </section>

    <!-- Analysis Report -->
    <hr>
    <section  class="text-center">
        <div class="row" id="analysisResult">
            <div class="col-sm-12 text-center">
                <ul>
                    <li>[[ summary.result_date ]]</li>
                    <li>[[ summary.book_value ]]</li>
                    <li>[[ summary.loan.amount ]]</li>
                    <li>[[ summary.rent.deposit ]]</li>
                    <li>[[ summary.profit_percent ]]</li>
                    <li>[[ summary.profit_amount ]]</li>
                </ul>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button id="analysisbtn" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="analysisbtn_Click()" >Analysis</button>
             </div>
        </div>
    </section>

    <!-- Regist -->
    <hr>
    <section id="storePositionInfo" class="text-center">
        <form onsubmit="false">
          <div class="form-group">
            <label for="positionInputEmail">Email address</label>
            <input type="email" v-model="email" class="form-control" id="positionInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </form>
        <div class="row">Key : [[ access_key ]]</div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button id="storePositionbtn" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="storePositionbtn_Click()" >Regist</button>
             </div>
        </div>

    </section>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>